

.home__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.home__heading-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home__heading-text h1{
    line-height: 100px;
}

.home__heading-text p{
    color:rgb(244, 255, 255);
    text-shadow: 1px 1px 10px #1e1b48;
}


.home__heading-text button{
    opacity: 75%;
}

.home__heading-image{
    flex: 1;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: -1;
}

.home__heading-image img{
    object-fit: cover;
}

