.loader {
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
    width:200px;
    /* Adjust the space between form groups */
}

.form-label {
    display: block;
    /* Makes the label take up the full width */
    margin-bottom: 5px;
    /* Space between the label and the input */
    font-weight: bold;
    /* Optional: makes the label text bold */
    text-align: left;
    /* Optional: centers the label text */
    font-size: 15px;
}

.form-input {
    width: 100%;
    /* Makes the input take up the full width of its container */
    padding: 8px;
    /* Adds some padding inside the input */
    margin-bottom: 5px;
    /* Space after the input */
    box-sizing: border-box;
    /* Ensures padding doesn't affect the overall width */
}

.submit-button {
    background-color: #4CAF50;
    /* Example button color, change as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
    /* Darker shade for hover effect */
}


#flight-info, #travel-info, #passenger-info{
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    width:45vw;
    padding-bottom:10px;
    flex-wrap: wrap;
}

.form-container{
    margin-left: 40%;
    padding-bottom:20px;
    color:black;
    background-color: #ffffff3e;
    border-radius: 10px;
    margin-right:-40%;
    padding:20px;
    padding-top:5px;
}

.price-estimator-background{    
    background-image: url(../assets/plane2.png);
}

.form-title{
    text-align: left;
}

#button-flex{
    display:flex;
    justify-content: space-between;
}

.flight-details{
    color:black;
    background-color: #ffffff3e;
    border-radius: 10px;
    padding:20px;
}