.loader {
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}


input,
select {
    background-color: rgb(229, 224, 204);
    border: 0;
    border-radius: 5px;
    line-height: 1.5rem;
    color: black;
}

.form-group {
    margin-bottom: 10px;
    width: 200px;
    /* Adjust the space between form groups */
}

.form-label {
    display: block;
    /* Makes the label take up the full width */
    margin-bottom: 5px;
    /* Space between the label and the input */
    font-weight: bold;
    /* Optional: makes the label text bold */
    text-align: left;
    /* Optional: centers the label text */
    font-size: 15px;
}

.form-input {
    width: 100%;
    /* Makes the input take up the full width of its container */
    padding: 8px;
    /* Adds some padding inside the input */
    margin-bottom: 5px;
    /* Space after the input */
    box-sizing: border-box;
    /* Ensures padding doesn't affect the overall width */
}

.submit-button {
    background-color: rgb(110, 119, 152);
    /* Example button color, change as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #423d5a;
    /* Darker shade for hover effect */
}


#flight-info,
#travel-info,
#passenger-info {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 45vw;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.form-container {
    color: rgb(52, 51, 73);
    background-color: #ffffff3e;
    border-radius: 10px;
    padding: 0 50px;
    
}

.price-estimator-background {
    background-image: url(../assets/plane2.png);
    background-size: cover;
}

.form-title {
    text-align: left;
}

#button-flex {
    display: flex;
    justify-content: space-between;
}

.flight-details {
    color: black;
    background-color: #ffffff3e;
    border-radius: 10px;
    padding: 20px;
}

.aita-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.aita-form h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(40, 43, 61);
}

.aita-form input,
button {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.aita-form button {
    background-color: rgb(105, 114, 145);
}

.aita-form button:hover {
    background-color: rgb(64, 61, 95);
}

.everything {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding-top: 4rem;
}

.iata-container {
    color: rgb(52, 51, 73);
    background-color: #ffffff3e;
    border-radius: 10px;
    padding: 50px;
    font-weight: bold;
}

@media screen and (max-width:900px){
    .flight-search-form,.form-group{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:600px){
    .everything{
        flex-direction: column-reverse;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15%;
    }
}