.card{
    display:flex;
    justify-content: space-between;
    border:1px solid white;
    border-radius: 4px;
    background-color: rgba(56, 56, 56, 0.611);
}

#card-image{
    height: 35%;
    width: 35%;
    max-height:300px;
    max-width: 350px;
}

#card-text{
    white-space: pre-wrap;
    text-align: left;
    margin-right:30px;
}